/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Situation initial */
#laptop,
#mobile{
    display: none;
}



/* **************************************************************** DRAGON CHARGEMENT */

#loading {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #fff6e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
}

.dragon {
    width: 200px;
    height: 140px;
    transform-origin: 50% 80%;
    animation: zoomIn .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.dragon .body {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 128px;
    background: url(./asset/img/body.png) no-repeat center center;
    background-size: contain;
    z-index: 10;
}

.dragon .horn-left {
    position: absolute;
    top: -17px;
    left: 32px;
    width: 31px;
    height: 31px;
    background: url(./asset/img/horn-left.png) no-repeat;
    background-size: contain;
    z-index: 9;
    transform-origin: 150% 200%;
    transform: rotate(-5deg);
    animation: swingRight .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.dragon .horn-right {
    position: absolute;
    top: -16px;
    left: 110px;
    width: 34px;
    height: 31px;
    background: url(./asset/img/horn-right.png) no-repeat;
    background-size: contain;
    z-index: 9;
    transform-origin: -50% 200%;
    transform: rotate(5deg);
    animation: swingLeft .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.dragon .eye {
    position: absolute;
    top: 39px;
    width: 11px;
    height: 11px;
    background: url(./asset/img/eye.png) no-repeat;
    background-size: contain;
    z-index: 12;
}

.dragon .eye.left {
    left: 49px;
}

.dragon .eye.right {
    left: 118px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.dragon .blush {
    position: absolute;
    top: 46px;
    width: 15px;
    height: 9px;
    background: url(./asset/img/blush.png) no-repeat;
    background-size: 100% 100%;
    z-index: 11;
    animation: blush .5s ease infinite alternate;
}

.dragon .blush.left {
    left: 43px;
}

.dragon .blush.right {
    left: 120px;
}

.dragon .mouth {
    position: absolute;
    top: 52px;
    left: 49px;
    width: 78px;
    height: 56px;
    background: url(./asset/img/mouth.png) no-repeat;
    background-size: 100%;
    z-index: 11;
    animation: openMouth 1s ease infinite;
}

.dragon .tail-sting {
    position: absolute;
    top: 67px;
    left: 139px;
    width: 40px;
    height: 38px;
    background: url(./asset/img/tail-sting.png) no-repeat;
    background-size: contain;
    z-index: 9;
    transform-origin: 0 100%;
    animation: tailUp .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.shadow-wrapper {
    position: absolute;
    top: 110px;
    width: 100%;
}

.shadow {
    margin: 0 auto;
    width: 110px;
    height: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: 0;
    animation: zoomIn .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.fire-wrapper {
    position: absolute;
    width: 40px;
    top: 60px;
    left: 88px;
    transform: translate(-50%, -50%);
    transform-origin: 50% 100%;
    animation: fireUp 1s ease-in infinite;
}

.fire {
    padding-bottom: 135%;
    width: 100%;
    height: 100%;
    background: url(./asset/img/fire.png) no-repeat;
    background-size: contain;
    animation: fire 1s ease-out infinite;
}

.progress {
    margin-top: 30px;
    width: 100%;
}

.progress .outer {
    width: 100%;
    height: 14px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.progress .inner {
    width: 0;
    height: 100%;
    background: #ffcd33;
    animation: loading 8s linear infinite;
}

@keyframes zoomIn {
    100% {
        transform: scale(1.16, 1.16);
    }
}

@keyframes swingRight {
    100% {
        transform: rotate(5deg);
    }
}

@keyframes swingLeft {
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes blush {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openMouth {
    0% {
        -webkit-clip-path: ellipse(20% 0% at 50% 0);
                clip-path: ellipse(20% 0% at 50% 0);
    }

    50% {
        -webkit-clip-path: ellipse(100% 100% at 50% 0);
                clip-path: ellipse(100% 100% at 50% 0);
    }

    70% {
        -webkit-clip-path: ellipse(100% 100% at 50% 0);
                clip-path: ellipse(100% 100% at 50% 0);
    }

    100% {
        -webkit-clip-path: ellipse(20% 0% at 50% 0);
                clip-path: ellipse(20% 0% at 50% 0);
    }
}

@keyframes tailUp {
    0% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(1.06);
    }
}

@keyframes loading {
    100% {
        width: 100%;
    }
}

@keyframes fireUp {
    0% {
        top: 70px;
    }

    20% {
        top: 70px;
    }

    100% {
        top: -80px;
    }
}

@keyframes fire {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    20% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/* **************************************************************** Fin  DRAGON CHARGEMENT */

/* **************************************************************** Debut site */


/* affichage de la carte */


#accueilProjet,
/* body #accueilCV */

#accueilContact
{
    display: none;
}


/* Permet de se reperer à supprimer  */

.b1{
    border: 2px solid black;
}

.b2{
    border: 1px solid blue;
}

.b3{
    border: 2px solid blueviolet;
}

.b4{
    border: 2px solid green;
}

.b5{
    border: 2px solid aqua;
}

.b6{
    border: 2px solid red;
}


/********************************** header */

header {
height: 40vh;
position: relative;
;

}
.headcontainer{
    min-width: 375px;
    max-width: 770px;
    margin: 0 auto;
}

/**************Navbarre */
.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color:rgb(64, 59, 52);
    border-bottom: 2px solid rgb(53, 48, 42);

}
/************** Bouton navigation */
.boutonNav{
    width: 18vw;
    height: 50px;
    border-radius:20px ;
    background-color: rgb(17 15 40);
    border: 2px solid rgb(43 40 34);
    -webkit-box-shadow: -10px -7px 12px -4px #0f0e2a; 
    box-shadow: -10px -7px 12px -4px #0f0e2a;
    transition: 0.2s;
}

.boutonNav a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #C9CACC;
}

.boutonNav:hover{
    background-color:#C9CACC;
    -webkit-box-shadow: 10px 7px 12px -4px #0f0e2a; 
    box-shadow: 10px 7px 12px -4px #0f0e2a;
}

.boutonNav:hover a{
    color: rgb(17 15 40);
}


.navi button:nth-child(2){
    margin: 0 -50px
}


/* Background + titre */
.flexBoxTitre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: rgba(64, 59, 52, 0.852);
}

.boxtitre{
    background-color: rgb(64, 59, 52);
    border-radius: 10px;
    border: 2px solid rgb(53, 48, 42);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61); 
    box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61);
}

.boxtitre h1,h2{
    margin: 20px;
}

.titre{
    font-size: 1.8rem ;
    color: #C9CACC;
    text-align: center;
}
.sousTitre{
    color: #C9CACC
}
/* Menu burger */

.burger{
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 42px;
    width: 42px;
    border: 1px solid black;
}
.burger:hover{
    background-color: brown;
}
.burger span{
    display: block;
    
    background-color: black;
    /* border: 0.5px solid black; */
    margin: 8px auto;
    height: 1px;
    width: 24px;
}

/* ******************************************  MAIN */

.maincontainer{
    min-width: 375px;
    max-width: 770px;
    margin: 0 auto;
    background-color:rgba(64, 59, 52, 0.852);
    
}

.subcontainer{ 
    min-height: 45vh;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto ;
    border: 2px solid rgb(53, 48, 42);
    border-radius: 20px;
    background-color:rgb(64, 59, 52);
    color: #C9CACC;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61); 
    box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61);
    text-align: center;
    

}

/*******************Carte acceuilCV */



.accueilCV{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueilCV .subcontainer p{
    margin: 10px 10px;
}


.accueilCV .sectionTitle{
    font-size: 1.5rem;
}

.boutonCV {
    height: 40px;
    width: 170px;
    margin: 20px 0;
    border-radius:20px ;
    background-color: rgb(33, 30, 75);
    border: 2px solid rgb(43 40 34);
    -webkit-box-shadow: -10px -7px 12px -4px #0f0e2a; 
    box-shadow: -10px -7px 12px -4px #0f0e2a;
    transition: 0.2s;
}

.boutonCV a{
    text-decoration: none;
    color: #C9CACC;
}

.boutonCV:hover{
    background-color:#C9CACC ;
    -webkit-box-shadow: 10px 7px 12px -4px #0f0e2a; 
    box-shadow: 10px 7px 12px -4px #0f0e2a;
}

.boutonCV:hover a{
    color: rgb(17 15 40);

}
/******************* Fin de la Carte acceuilCV */


/*******************Debut Carte acceuil Projet */

.accueilProjet{
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#accueilProjet .subcontainer{
    height: auto;
    margin-bottom: 20px;
}

#accueilProjet h3{
    margin: 50px 0
}
#accueilProjet h4{
    margin: 20px 0
}

.containGrid{
    margin-bottom: 20px;
}

.projetGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cell1,.cell2{
    border-top: 1px solid #ffffff0e ;
    
}

.cell1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cell1 img {
    height: 97px;
    width: 150px;
    margin: 10px 0;
}

.cell2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.cell2 div:nth-child(2){
    text-align: start;
}

.boutonProjet {
    height: 30px;
    width: 140px;
    font-size: 0.6rem;
    margin: 20px 0;
    border-radius:20px ;
    background-color: rgb(33, 30, 75);
    border: 2px solid rgb(43 40 34);
    -webkit-box-shadow: -10px -7px 12px -4px #0f0e2a; 
    box-shadow: -10px -7px 12px -4px #0f0e2a;
    transition: 0.2s;
}

.boutonProjet a{
    text-decoration: none;
    color: #C9CACC;
}

.boutonProjet:hover{
    background-color:#C9CACC ;
    -webkit-box-shadow: 10px 7px 12px -4px #0f0e2a; 
    box-shadow: 10px 7px 12px -4px #0f0e2a;
}

.boutonProjet:hover a{
    color: rgb(17 15 40);
}
/*******************Fin Carte acceuilProjet*/


/*******************Debut Carte acceuilContact */
.accueilContact{

    height: 950px;
}

.accueilContact .subcontainer{
    /* margin-bottom: 20px ; */
    min-height: 900px;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto ;
    border: 2px solid rgb(53, 48, 42);
    border-radius: 20px;
    background-color:rgb(64, 59, 52);
    color: #C9CACC;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61); 
    box-shadow: 0px 0px 24px -1px rgba(15,14,42,0.61);
    text-align: center;

}

.contactMe{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    justify-content: end;
    align-items: center;
    gap: 10px;
    border-top: 2px solid #ffffff50;
    margin: 20px 0;
}

.contactCell1 p,
.contactCell2 p
{
    
    font-size: 0.9rem;
}

.contactCell2{
    margin: 20px 0;
    

}
.contactCell2 button{
    height: 50px;
    width: 140px;
    margin: 10px 0;
    border-radius:20px ;
    background-color: rgb(33, 30, 75);
    border: 2px solid rgb(43 40 34);
    -webkit-box-shadow: -10px -7px 12px -4px #0f0e2a; 
    box-shadow: -10px -7px 12px -4px #0f0e2a;
    transition: 0.2s;
}
.contactCell2 a{
    margin: 10px 0;
    font-size: 0.9rem;
    text-decoration: none;
    color: #C9CACC;
}

.contactCell2 button:hover{
    background-color:#C9CACC ;
    -webkit-box-shadow: 10px 7px 12px -4px #0f0e2a; 
    box-shadow: 10px 7px 12px -4px #0f0e2a;
}

.contactCell2 a:hover{
    color: rgb(17 15 40);
}


/***************************************Footer  */
footer{
    
    background-color: rgb(64, 59, 52);
    border-top: 2px solid rgb(53, 48, 42);
}

.footcontainer{
    height: 16vh;
    min-width: 375px;
    max-width: 770px;
    margin: 0 auto;


}



.footSubcontainer{
    max-width: 530px;
    margin: 0 auto;
}
.footNavi{
    height: 8vh;
    color: rgba(255, 255, 255, 0.393);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footNavi a{
    font-size: 0.8rem;
    margin: 0 -20px;
    /* border: 0.5px solid rgba(255, 255, 255, 0.393); */
}

.FootHover:hover{

    padding-bottom: 5px;
    border-bottom: 1px solid ;
    transition:  all 0.2s;

}

.footSocial{
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.footSocial a img{
    height: 60px;
}


.footSocial a img:hover{
    height: 80px;
    transform : rotate(1080deg);
    transition: 0.7s ease-out;
}