*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* *********************************** Debut Header */

header{
    text-align:center ;
    height: 250px; 
    background-color: #cc6633; 
    color: #f5f5dc; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header h1{
    font-size: 3.5rem;
    letter-spacing:10px;
    font-style: oblique;
}

header h2{
    font-size: 2rem;
    letter-spacing:10px;
    font-style: italic;
}

/* ************************************* FIN Header */




.main-grid{
    display: grid;
    grid-template-columns: 300px 1fr ;
    
}

.grid-cell1{
    background-color: #fe9865;
    color: #1b1b1b;
}



.grid-cell2{
    min-height: 100vh;
}


/* **** debut aside (gridcell2) **** */



.photoId{
    text-align: center;
}

.photoId img{
    
    box-shadow: 1px 0px 25px 1px #242323f2;
    border-radius:  5%
}
img{
    margin: 20px 0;
}

aside{
    position: sticky;
    top:1px;
}

.aside-container-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}
.aside-grid{
    display: grid;
    grid-template-columns: 0.6fr 1.3fr;
    justify-items: center;
}

.aside-grid-1,.aside-grid-2{
display: flex;
justify-content: center;
}
.aside-grid-1{
    font-size: 0.92rem;
    font-weight: 700;
    align-items: center;
    
}

.aside-grid-2 img{
    background: white;
    border-radius: 5px;
    
    box-shadow: 0px 0px 21px 1px black;
}
 #discord{
    background-color: transparent;
 }

.aside-grid-2 img:hover{
    transition: 0.3s ease;
    transform:scale(120%);
    box-shadow: 0px 3px 15px 1px black;
}


/* ******* Fin aside ***** */
/* ******* debut main ***** */

.accordion-container{
    background-color: #ffcc99;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}

.bord-accordion{
    box-shadow: 0 5px 10px black;
    width: 60vw;
    margin:5px

}
.bord-accordion details summary{
    padding: 15px;
    color: whitesmoke;
    border: 2px solid #444;
    position: relative;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    text-align: center;
    list-style: none;
    
    background: rgb(35,107,142);
background: -moz-linear-gradient(0deg, rgba(35,107,142,1) 0%, rgba(51,153,204,1) 37%, rgba(51,153,204,1) 61%, rgba(35,107,142,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(35,107,142,1) 0%, rgba(51,153,204,1) 37%, rgba(51,153,204,1) 61%, rgba(35,107,142,1) 100%);
background: linear-gradient(0deg, rgba(35,107,142,1) 0%, rgba(51,153,204,1) 37%, rgba(51,153,204,1) 61%, rgba(35,107,142,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#236b8e",endColorstr="#236b8e",GradientType=1);
}

.bord-accordion details summary:hover{
    transition-duration: 0.4s;
    background: rgb(0,71,142);
    background: -moz-linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    background: linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00478e",endColorstr="#00478e",GradientType=1);
}


.bord-accordion details[open] summary{
    transition-duration: 0.4s;
    background: rgb(0,71,107);
    background: -moz-linear-gradient(0deg, rgba(0,71,107,1) 0%, rgba(0,102,153,1) 30%, rgba(0,102,153,1) 70%, rgba(0,71,107,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,71,107,1) 0%, rgba(0,102,153,1) 30%, rgba(0,102,153,1) 70%, rgba(0,71,107,1) 100%);
    background: linear-gradient(0deg, rgba(0,71,107,1) 0%, rgba(0,102,153,1) 30%, rgba(0,102,153,1) 70%, rgba(0,71,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00476b",endColorstr="#00476b",GradientType=1);
}

.bord-accordion details[open] summary:hover{
    background: rgb(0,71,142);
    background: -moz-linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    background: linear-gradient(0deg, rgba(0,71,142,1) 0%, rgba(0,102,204,1) 30%, rgba(0,102,204,1) 70%, rgba(0,71,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00478e",endColorstr="#00478e",GradientType=1);;
}

.bord-accordion details summary::after{
    content: '+';
    position: absolute;
    right: 30px;
    transition:0.2s linear;
}
.bord-accordion details[open] summary::after{
 
    transform:rotate(135deg);
}

.accordion-content{
    background-color: ivory;


}
.introduction{
    /* background-color: paleturquoise; */
    display: flex; 
    justify-content: space-evenly ;
    padding: 20px 0;

}

.intro-title{
    text-align: center;
    margin-bottom: 10px;

}

.intro-para{
    text-align: start;
    max-width: 400px;
    padding: 10px;

}

.personnalitee{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: rgba(28, 17, 17, 0.448) 2px dashed;
}

.softSkill{
    display: flex; 
    align-items: center;
    height: 150px;
}

.softSkill ul{
    list-style: none;
    margin-left: 20px;
}

.softSkill li{
    margin : 10px 0;
    /* padding: 10px; */
}

#competence{
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    padding: 0 30px
}
#competence h3{
    text-align : center;
    margin-bottom: 20px
}

#competence article {
    margin: 0 40px;
    padding-bottom: 5px;
    border-bottom: 2px rgba(46, 44, 44, 0.151) dashed;
}

#formation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    padding: 0 30px
}

#formation h3{
    text-align : center;
    margin-bottom: 20px
}

#formation article {
    margin: 0 40px;
    padding-bottom: 5px;
    border-bottom: 2px rgba(46, 44, 44, 0.151) dashed;
}

#formation article p{
    text-align: center;
}

#experience{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    padding: 0 30px

}

#experience h3{
    text-align : center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-decoration: underline;
}

#experience ul{
    list-style: none;

}

#competence-progLangage{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    width: 113px;
    margin: 0 auto;
    list-style: none
}

.detail-experience{
    font-weight: 600;
    color : #1a1a1adf
}

#hobbie{
    display: flex;
    /* flex-direction:; */
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 0 30px
}

#hobbie h3{
    text-align : center;
    margin-bottom: 20px
}

#hobbie article {
    margin: 0 40px;
    padding-bottom: 5px;
    border-bottom: 2px rgba(46, 44, 44, 0.151) dashed;
}

#hobbie article p{
    text-align: center;
}